# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    { 'label': 'Enable Block Comment NG', 'command': 'block-comment-ng:toggle' }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Block Comment NG'
      'submenu': [
        { 'label': 'Toggle', 'command': 'block-comment-ng:toggle' }
      ]
    ]
  }
]
